SECRET_KEY=replace-with-a-long-random-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
ACCOUNT_EMAIL_VERIFICATION=optional

# SQLite default
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# MySQL example
# DB_ENGINE=django.db.backends.mysql
# DB_NAME=sankesh_blog
# DB_USER=sankesh_user
# DB_PASSWORD=strong-password
# DB_HOST=127.0.0.1
# DB_PORT=3306
